<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/event.css" rel="stylesheet">
</head>
<body class="container">

<header>
<% include ../partials/header %>

</header>

<main>
  <div class="Event_Information">
    <ul class="list-group">
      <li class="list-group-item">Id :<%= userProfile.event._id %></li>
      <li class="list-group-item">Name : <%= userProfile.event.name %></li>
      <li class="list-group-item">Date : <%= userProfile.event.date %></li>
      <li class="list-group-item">Update day: <%= userProfile.event.updated %></li>
      <li class="list-group-item">Description : <%= userProfile.event.description %></li>
      <li class="list-group-item">Address: <%= userProfile.event.address.building_number %> <%= userProfile.event.address.street_name %>, <%= userProfile.event.address.post_code %> <%= userProfile.event.address.city  %>  </li>
      <form action="/editOneEventId" method="get">
                    <input type="hidden" name="_id" id="_id" value="<%= userProfile.event._id %>" />
                    <button class="btn btn-block btn-primary">Edit</button>
      </form>
    </br>
      <a href="/event/update/picture"> <button class="btn btn-block btn-primary">Follow this link to add a picture</button> </a>
    </ul>
  </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
