<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/event.css" rel="stylesheet">
</head>
<body class="container">

<header>
<% include ../partials/header %>
</header>

<main>
  <div class="Event_Information">
    <ul class="list-group">
      <li class="list-group-item">Id :<%= userProfile.event[0]._id %></li>
      <li class="list-group-item">Name : <%= userProfile.event[0].name %></li>
      <li class="list-group-item">Date : <%= userProfile.event[0].date %></li>
      <li class="list-group-item">Update day: <%= userProfile.event[0].updated %></li>
      <li class="list-group-item">Description : <%= userProfile.event[0].description %></li>
     
      <form action="/editOneEventId" method="get">
                    <input type="hidden" name="_id" id="_id" value="<%= userProfile.event[0]._id %>" />
                    <button class="btn btn-block btn-primary">Edit</button>
      </form>
    </br>
      <a href="/event/update/picture"> <button class="btn btn-block btn-primary">Follow this link to add a picture</button> </a>
    </ul>
  </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
