<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
<% include ../partials/header %>

</header>

<main>
  <div class="Eventus">
      <ul>
        <li><%= eventusOne._id %></li>
        <li><%= eventusOne.name %></li>
        <li><%= eventusOne.date %></li>
        <li><%= eventusOne.address %></li>
        <li><%= eventusOne.uddated %></li>
      </ul>
  </div>

  <form action="/updateEvent" method="post">
            <p>
              <input type="hidden" name="_id" id="_id"  value=<%= eventusOne._id %> />

              <label for="name">Event name: </label>
              <input type="text" name="name" id="name" autofocus value=<%= eventusOne.name %> />

              <label for="date">Date: </label>
              <input type="date" name="date" id="date" autofocus value=<%= eventusOne.date %>  />

              <label for="building_number">Building number: </label>
              <input type="number" name="building_number" id="building_number" autofocus value=<%= eventusOne.address.building_number %> />

              <label for="street_name">Street name: </label>
              <input type="text" name="street_name" id="street_name" autofocus value=<%= eventusOne.address.street_name %> />

              <label for="city">City: </label>
              <input type="text" name="city" id="city" autofocus value=<%= eventusOne.address.city %> />

              <label for="post_code">Post code: </label>
              <input type="number" name="post_code" id="post_code" autofocus value=<%= eventusOne.address.post_code %> />

                <input type="submit" />
            </p>
  </form>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
