<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/event.css" rel="stylesheet">
</head>
<body class="container">

  <header>
  <% include ../partials/header %>

  </header>

<main>

  <div class="Event_Update">
    <div class="row">
      <section class="col-sm-offset-3 col-sm-6">
          <form class="form-event" action="/updateEvent" method="post">
              <h2 class="form-event-heading">Update your event</h2>
                <label for="_id">Event ID : </label>
                <input type="text" class="form-control" name="_id" id="_id" readonly value=<%= userProfile.event._id %>  />

                <label for="name">Name : </label>
                <input type="text" class="form-control" name="name" id="name" autofocus value=<%= userProfile.event.name %> />

                <label for="description">Description: </label>
                <input type="text" class="form-control" name="description" id="description" autofocus value=<%= userProfile.event.description %> />

                <label for="date">Date: </label>
                <input type="date" class="form-control" name="date" id="date" autofocus value=<%= userProfile.event.date %> />

                <label for="building_number">Building number : </label>
                <input type="number" class="form-control" name="building_number" id="building_number" autofocus value=<%= userProfile.event.address.building_number %>  />

                <label for="street_name">Street: </label>
                <input type="text" class="form-control" name="street_name" id="street_name" autofocus value=<%= userProfile.event.address.street_name %>  />

                <label for="city">city: </label>
                <input type="text" class="form-control" name="city" id="city" autofocus value=<%= userProfile.event.address.city %>  />

                <label for="post_code">Post code: </label>
                <input type="number" class="form-control" name="post_code" id="post_code" autofocus value=<%= userProfile.event.address.post_code %>  />

                <label for="country_code">Country code: </label>
                <input type="number" class="form-control" name="country_code" id="country_code" autofocus value=<%= userProfile.event.address.country_code %>  />

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
          </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
