<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>

</head>
<body class="container">

<header>
<% include ../partials/header %>

</header>
<main>

  <div class="Profile_picture">
    <img src="data:image/jpg;base64,<%= userProfile.profile_picture %>" >
    <img src="data:{{image.contentType}};base64,{{<%= userProfile.profile_picture %>}}">

    <form id="uploadForm" enctype="multipart/form-data" action="/profile/picture" method="post">
      <input type="file" name="userPhoto" />
      <input type="submit" value="Upload Image" name="submit">
    </form>

  </div>

<img src="data:image/jpg;base64,<s:property value='<%= userProfile.profile_picture %>'/>"

  <div class="Profile">
      <ul>
        <li>Email : <%= userProfile.email %></li>
        <li>Username : <%= userProfile.username %></li>
        <li>Last name :  <%= userProfile.profile.last_name %></li>
        <li>First name : <%= userProfile.profile.first_name %></li>
        <li>Description :<%= userProfile.profile.description %></li>
        <li>Born in : <%= userProfile.profile.birthday %></li>
        <li><a href="/profile/update/profile">Edit</a></li>
      </ul>
  </div>

  <div class="About">
      <ul>
        <li>Next destination : <%= userProfile.about.next_destination %></li>
        <li>Previous destination : <%= userProfile.about.last_destination %></li>
        <li>Last friends added :  <%= userProfile.about.last_friends_added %></li>
        <li>From : <%= userProfile.about.from %></li>
        <li>Job :<%= userProfile.about.job %></li>
        <li>Company : <%= userProfile.about.company %></li>
        <li>Living actualy in : <%= userProfile.about.living_place %></li>
        <li><a href="/profile/update/about">Edit</a></li>
      </ul>
  </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
