<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
<% include ../partials/header %>

</header>

<main>

<form action="/profile/update/profile" method="post">
          <p>
              <label for="first_name">First name: </label>
              <input type="text" name="first_name" id="first_name" autofocus value=<%= userProfile.profile.first_name %> />
              <label for="last_name">Last name: </label>
              <input type="text" name="last_name" id="last_name" autofocus value=<%= userProfile.profile.last_name %> />
              <input type="submit" />
          </p>
</form>

<form action="/profile/update/profile" method="post">
          <p>
              <label for="birthday">Born date: </label>
              <input type="date" name="birthday" id="birthday" autofocus value=<%= userProfile.profile.birthday %> />
              <input type="submit" />
          </p>
</form>

<form action="/profile/update/profile" method="post">
          <p>
              <label for="email">Email : </label>
              <input type="text" name="email" id="email" autofocus value=<%= userProfile.profile.email %>  />
              <input type="submit" />
          </p>
</form>

<form action="/profile/update/profile" method="post">
          <p>
              <label for="description">Description: </label>
              <input type="text" name="description" id="description" autofocus value=<%= userProfile.profile.description %>  />
              <input type="submit" />
          </p>
</form>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
