<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="/style/event.css" rel="stylesheet">
</head>
<body class="container">

<header>
<% include ../partials/header %>

</header>

  <div class="User_Profile">
    <div class="row">
      <section class="col-sm-3">
        <img src="data:image/jpg;base64,<%= userProfile.profile_picture %>" class="img-thumbnail">
        <form  id="uploadForm" enctype="multipart/form-data" action="/profile/picture" method="post">
                <label class="btn btn-default btn-file ">
                   Browse <input type="file" name="userPhoto" style="display: none;" required />
                </label>
                <input type="submit" class="btn btn-primary" value="Upload Image" name="submit">
        </form>
        </br>
        <div class="Profile_Information">
          <ul class="list-group">
            <li class="list-group-item">Email: <%= userProfile.email %></li>
            <li class="list-group-item">Username: <%= userProfile.username %></li>
            <li class="list-group-item">Full name: <%= userProfile.profile.first_name %> <%= userProfile.profile.last_name %></li>
            <li class="list-group-item">Description: <%= userProfile.profile.description %></li>
            <li class="list-group-item">Born in: <%= userProfile.profile.birthday %></li>
            <a href="/profile/update/profile"> <button class="btn btn-block btn-primary">Edit</button> </a>
          </ul>
        </div>
      </section>
      <div class="col-sm-6">
        <% if (typeof(userProfile.pastEvent) !== 'undefined') { %>
          <% for(var i=0; i < userProfile.pastEvent.length; i++) { %>
            <div class="Event_Display">
              <div class="row">
                <div class="row">
                  <form action="/getOneEvent" method="post" name="submit_id" id="<%= i %>" >
                    <div class="col-sm-2">
                    <input type="hidden" name="_id" id="_id" value="<%= userProfile.pastEvent[i]._id %>" readonly  />
                    <img src="data:image/jpg;base64, <%= userProfile.profile_picture %>" class="img-thumbnail">
                  </div>
                    <div class="col-sm-6">
                      <input type="hidden" name="name" id="name" value="<%= userProfile.pastEvent[i].name %>" readonly />
                      <h2 class="form-event-heading" > <%= userProfile.pastEvent[i].name %> </h2>
                    </div>
                    <div class="col-sm-4">
                      <ul class="list-group">
                        <li class="list-group-item"><%= userProfile.pastEvent[i].date %></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <li class="list-group-item">Address: <%= userProfile.pastEvent[i].address.building_number %> <%= userProfile.pastEvent[i].address.street_name %>, <%= userProfile.pastEvent[i].address.post_code %> <%= userProfile.pastEvent[i].address.city  %>  </li>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 ">
                        <li class="list-group-item" type="description"><%= userProfile.pastEvent[i].description %></li>
                    </div>
                    <div class="col-sm-offset-9 col-sm-3">
                      <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="submit_by_id();">Display</button>
                    </div>
                  </div>
                </form> </br>
              </div>
              </div>
            <% } %>
          <% } else { } %>

      </div>
      <div class="col-sm-3">
        <div class="Profile_About">
            <ul class="list-group">
              <li class="list-group-item">Next destination: <%= userProfile.about.next_destination %></li>
              <li class="list-group-item">Previous destination: <%= userProfile.about.last_destination %></li>
              <li class="list-group-item">From: <%= userProfile.about.from %></li>
              <li class="list-group-item">Job: <%= userProfile.about.job %>, Company : <%= userProfile.about.company %></li>
              <li class="list-group-item">Living actualy in: <%= userProfile.about.living_place %></li>
              <a href="/profile/update/about"> <button class="btn btn-block btn-primary">Edit</button> </a>
            </ul>
        </div>
      <a href="/getAllEvents"><button class="btn btn-block btn-primary">My events</button></a>
      </div>
    </div>
  </div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
